IndentWidth: 4
SortIncludes: true
SortUsingDeclarations: true
IncludeBlocks: Regroup
Language: Cpp
PointerAlignment: Right
ReflowComments: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
